/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: hsl(295, 100%, 50%);
  --color-primary-dark: hsl(295, 80%, 30%);
  --color-white: hsl(0, 0%, 95%);
  --color-gray-light: hsl(0, 0%, 75%);
  --color-black: hsl(0, 0%, 6%);
  --color-black-light: hsla(0, 0%, 6%, 0.2);
  --font-body: "Montserrat", sans-serif;
  --font-logo: "Dancing Script", cursive;
  --font-h2-size: 1.25rem;
  --font-semi-bold: 600;
  --font-small-size: 0.813rem;
  --header-height: 3.5rem;
  --z-tooltip: 10;
  --z-fixed: 100;
}

.html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-black);
  color: var(--color-gray-light);
  font-family: var(--font-body);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}